USE [vrsdb]
GO
/****** Object:  StoredProcedure [dbo].[radiologist_case_assign_radiologist_fetch]    Script Date: 28-09-2021 19:36:34 ******/
DROP PROCEDURE [dbo].[radiologist_case_assign_radiologist_fetch]
GO
/****** Object:  StoredProcedure [dbo].[radiologist_case_assign_radiologist_fetch]    Script Date: 28-09-2021 19:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************
*******************************************************
** Version		: 1.0.0.0
** Procedure    : radiologist_case_assign_radiologist_fetch :  fetch 
				  radiologist list for assignment
** Created By   : Pavel Guha
** Created On   : 21/04/2020
*******************************************************/

CREATE PROCEDURE [dbo].[radiologist_case_assign_radiologist_fetch] 
	@id uniqueidentifier='00000000-0000-0000-0000-000000000000',
	@type nvarchar(1)='',
	@filter nchar(1) ='A',
	@menu_id int,
    @user_id uniqueidentifier,
    @error_code nvarchar(10)='' output,
    @return_status int =0 output
as
begin
	set nocount on

	declare @assigned_prelim_radiologist_id uniqueidentifier,
	        @assigned_final_radiologist_id uniqueidentifier,
			@institution_id uniqueidentifier,
			@category_id int,
			@modality_id int,
			@species_id int,
			@status_id int

	exec common_lock_record_ui
		@menu_id       = @menu_id,
		@record_id     = @id,
		@user_id       = @user_id,
		@error_code    = @error_code output,
		@return_status = @return_status output	
						
	if(@return_status=0)
		begin
			return 0
		end

	create table #tmpRad
	(
		id uniqueidentifier,
		name nvarchar(250)
	)
	create table #tmpST
	(
		study_type_id uniqueidentifier
	)

	select @institution_id                 = institution_id,
		   @category_id                    = category_id,
	       @modality_id                    = modality_id,
		   @species_id                     = species_id,
		   @status_id                      = study_status_pacs,
		   @assigned_prelim_radiologist_id = isnull(radiologist_id,'00000000-0000-0000-0000-000000000000'),
		   @assigned_final_radiologist_id  = isnull(final_radiologist_id,'00000000-0000-0000-0000-000000000000')
	from study_hdr
	where id = @id

	insert into #tmpST(study_type_id) 
	(select study_type_id
	from study_hdr_study_types
	where study_hdr_id=@id)

	insert into #tmpRad(id,name) (select id,name from radiologists where is_active='Y') order by name

	delete 
	from #tmpRad
	where id in (select radiologist_id from radiologist_functional_rights_exception_institution where institution_id=@institution_id)

	delete 
	from #tmpRad
	where id not in (select radiologist_id from radiologist_functional_rights_modality where modality_id=@modality_id)

	delete 
	from #tmpRad
	where id not in (select radiologist_id from radiologist_functional_rights_species where species_id=@species_id)

	if(@category_id=3)
		begin
			delete 
			from #tmpRad
			where id not in (select radiologist_id from radiologist_functional_rights_assigned where right_code='WRKCNSLTCASE')
		end

	delete 
	from #tmpRad
	where id in (select radiologist_id from radiologist_functional_rights_exception_study_type where study_type_id in (select study_type_id from #tmpST))

	if(@type='P')
		begin
			delete 
			from #tmpRad
			where id not in (select radiologist_id from radiologist_functional_rights_assigned where right_code in ('DICTRPT','UPDPRELIMRPT'))
			 
		end
	else if(@type='F')
		begin
			delete 
			from #tmpRad
			where id not in (select radiologist_id from radiologist_functional_rights_assigned where right_code ='UPDFINALRPT')
		end

	if(@filter = 'A')
		begin
			select radiologist_id   =  id,
			       radiologist_name = name,
				   assign ='N'
			from #tmpRad
			--and id <> @assigned_radiologist_id
			order by name
		end
	else if(@filter = 'S')
		begin
			 select rs.radiologist_id,
			        radiologist_name = r.name,
				    assign ='N'
			 from radiologist_schedule rs
			 inner join #tmpRad r on r.id = rs.radiologist_id
			 where getdate() between rs.start_datetime and rs.end_datetime
			 --and rs.id <> @assigned_radiologist_id
			 order by r.name
		end
	--else if(@filter = 'E')
	--	begin
	--		 select rs.radiologist_id,
	--		        radiologist_name = r.name,
	--			    assign =''
	--		 from radiologist_schedule rs
	--		 inner join radiologists r on r.id = rs.radiologist_id
	--		 where getdate() between rs.start_datetime and rs.end_datetime
	--		 and r.is_active='Y'
	--		 and rs.id <> @assigned_radiologist_id

	--	end

	drop table #tmpRad
	drop table #tmpST

	
	set nocount off
end


GO
