USE [vrsdb]
GO
/****** Object:  UserDefinedFunction [dbo].[ProperCase]    Script Date: 20-08-2021 20:56:12 ******/
DROP FUNCTION [dbo].[ProperCase]
GO
/****** Object:  UserDefinedFunction [dbo].[ProperCase]    Script Date: 20-08-2021 20:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[ProperCase](@Text as nvarchar(max))
returns nvarchar(max)
as
begin
  declare @Reset bit;
  declare @Ret nvarchar(max);
  declare @i int;
  declare @c char(1);

  if @Text is null
    return null;

  select @Reset = 1, @i = 1, @Ret = '';

  while (@i <= len(@Text))
    select @c = substring(@Text, @i, 1),
      @Ret = @Ret + case when @Reset = 1 then UPPER(@c) else LOWER(@c) end,
      @Reset = case when @c like '[a-zA-Z]' then 0 else 1 end,
      @i = @i + 1
  return @Ret
end

GO
