html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.moveable-control {
    position: absolute;
    width: 6px !important;
    height: 6px !important;
    border-radius: 5% !important;
    border: 1px solid rgb(42, 42, 43, 0.6) !important;
    box-sizing: border-box !important;
    background: rgb(42, 42, 43, 0.6) !important;
    margin-top: -3px !important;
    margin-left: -3px !important;
    z-index: 10 !important;
}

.moveable-line {
	position: absolute;
	width: 1px;
	height: 1px;
	background: rgb(42, 42, 43, 0.6) !important;
	transform-origin: 0px 0.5px;
	z-index: 11 !important;
}
.moveable-line.moveable-control {
    border-color: rgba(42, 42, 43, 0.6) !important;
	z-index: 11 !important;
}

.datetime-col-width {
	width: 140px;
}
.general-col-width {
}

.tooltip {
	visibility: hidden;
	position: absolute;
  }
  .has-tooltip:hover .tooltip {
	visibility: visible;
	z-index: 100;
  }

.columnSelector :hover {
	border-right: 2px solid rgb(248, 2, 2);
}

.fullscreen {
	z-index: 9999; 
    width: 100% !important; 
    height: 100% !important; 
    position: fixed !important; 
    top: 0; 
    left: 0; 
}

/* scrollbar */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
  }
  
  ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 255, 255, 0.3);
  }
  