USE [vrsdb]
GO
/****** Object:  View [dbo].[vw_studies]    Script Date: 20-08-2021 20:59:58 ******/
DROP VIEW [dbo].[vw_studies]
GO
/****** Object:  View [dbo].[vw_studies]    Script Date: 20-08-2021 20:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vw_studies] 
as
select * from vrsmisdb..studies




GO
