@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat User Details</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <link href="@Url.Content("~/CSS/Functionality.css")" rel="stylesheet" />

     <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).on('click', '#btnSubmit', function () {
                $.ajax({
                    type: "POST",
                    url: document.getElementById("hdnURL").value + "ChatUserDetails",
                    data: {
                        "userId": document.getElementById("txtuserId").value,
                    },
                    success: function (data) {
                        

                        if (document.all) {
                            document.getElementById("resUserRoleCode").innerText = data.UserRoleCode;
                            document.getElementById("resUserRoleName").innerText = data.UserRoleName;
                            document.getElementById("resUserName").innerText = data.UserName;
                            document.getElementById("resEmailID").innerText = data.EmailID;
                            document.getElementById("resContactNumber").innerText = data.ContactNumber;
                            document.getElementById("resMsg").innerText = data.responseStatus.responseMessage;
                            document.getElementById("resStat").innerText = data.responseStatus.responseStatus;
                        }
                        else {
                            document.getElementById("resUserRoleCode").textContent = data.UserRoleCode;
                            document.getElementById("resUserRoleName").textContent = data.UserRoleName;
                            document.getElementById("resUserName").textContent = data.UserName;
                            document.getElementById("resEmailID").textContent = data.EmailID;
                            document.getElementById("resContactNumber").textContent = data.ContactNumber;
                            document.getElementById("resMsg").textContent = data.responseStatus.responseMessage;
                            document.getElementById("resStat").textContent = data.responseStatus.responseStatus;
                        }
                        
                        
                    }
                });

            });
        });
        
    </script>
</head>
<body>
    <div class="hdr">
        VETRIS API : Get Chat User Details
    </div>
    <div style="height: 5px;"></div>
    <div id="desc" style="height: 350px;">
        <p>
            <b>Objective :</b> To get the user details who has opened the chat window
        </p>
        <p>
            The request object : <b>"ChatUserDetails"</b>. The response object : <b>"ChatUserDetailsResult"</b>
            
        </p>
        <div class="blocks" style="width:30%;">
            <b><u>Request Input Parameters</u></b>
            <div class="clr"></div>
            <div class="hdrsL" style="width:40%;">Parameter</div>
            <div class="hdrsR">&nbsp;&nbsp;Data Type</div>
            <div class="clr"></div>
            <div class="itmFL" style="width:40%;">userId</div>
            <div class="itmFR">&nbsp;&nbsp;String</div>
            <div class="clr"></div>
           
        </div>
        <div class="blocks" style="margin-left: 10px;width:30%;">
            <b><u>Response Output Values</u></b>
            <div class="clr"></div>
            <div class="hdrsL" style="width:50%;">Value</div>
            <div class="hdrsR">&nbsp;&nbsp;Data Type</div>
            <div class="clr"></div>
            <div class="itmFL" style="width:50%;">UserRoleCode</div>
            <div class="itmFR">&nbsp;&nbsp;String</div>
            <div class="clr"></div>
            <div class="itmL" style="width:50%;">UserRoleName</div>
            <div class="itmR">&nbsp;&nbsp;String</div>
            <div class="clr"></div>
            <div class="itmL" style="width:50%;">UserName</div>
            <div class="itmR">&nbsp;&nbsp;String</div>
            <div class="clr"></div>
            <div class="itmL" style="width:50%;">EmailID</div>
            <div class="itmR">&nbsp;&nbsp;String</div>
            <div class="clr"></div>
             <div class="itmL" style="width:50%;">ContactNumber</div>
            <div class="itmR">&nbsp;&nbsp;String</div>
            <div class="clr"></div>
            
            
        </div>
         <div style="margin-top: 50px;margin-top :50px;float:right;border:1px solid #000;width :100px;background-color:#eee;text-align:center;padding:10px;">
            <a href ="@Url.Action("Index","Home")" id="btnBack" style="text-decoration:none;" ><< Back </a> 
        </div>
        <div class="clr"></div>

    </div>
    <div id="req" style="height: 500px;width:40%;">
        <b><u>Request</u></b>

        <div style="margin-top: 20px;">userId</div>
        <div>
            <input type="text" id="txtuserId" maxlength="36" />
        </div>
        
        <div style="margin-top: 30px;">
            <input type="button" id="btnSubmit" value="Submit >>" />
        </div>
    </div>
    <div id="res" style="height: 500px;width:57%;margin-left:10px;">
        <b><u>Response</u></b>
        <div style="margin-top: 10px;">UserRoleCode</div>
        <div>
            <span id="resUserRoleCode"></span>
        </div>
        <div style="margin-top: 10px;">UserRoleName</div>
        <div>
            <span id="resUserRoleName"></span>
        </div>
        <div style="margin-top: 10px;">UserName</div>
        <div>
            <span id="resUserName"></span>
        </div>
        <div style="margin-top: 10px;">EmailID</div>
        <div>
            <span id="resEmailID"></span>
        </div>
        <div style="margin-top: 10px;">ContactNumber</div>
        <div>
            <span id="resContactNumber"></span>
        </div>
       
        
        <div style="margin-top: 20px;">
            <b><u>Response Status</u></b>
        </div>
        <div style="margin-top: 10px;">responseMessage</div>
        <div>
            <span id="resMsg" style="color: #ff0000;"></span>
        </div>
       
        <div style="margin-top: 10px;">responseStatus</div>
        <div>
            <span id="resStat" style="color: #ff0000;"></span>
        </div>
    </div>
    <div class="clr"></div>
    <div class="ftr" style="margin-top:20px;">
        Copyright &copy; 2019 RAD365. All rights reserved.
    </div>
    <input type="hidden" id="hdnURL" value="@ViewBag.PublishURL" />
</body>
</html>

